body {
  background-color:#00ced1;
}
hr {
  border-style:dotted none none;
  border-color:#2f4f4f;
  border-width:5px;
  width:6%;
}
h1{
  color:#8b0000;
}
h2{
  color:	#8b0000;
}
h3{
  color:	#8b0000;
}
h4{
  color:	#8b0000;
}
